body {
    background-color: black;
}

.container-fluid {
    width: 50%;
    background-color: white;
}

.display-selector i {
  color: gray;
  transition: color 0.3s;
}

.display-selector .nav-link.active i {
  color: blue;
}

.display-selector .nav-link:hover i {
  color: blue;
}

.cuadrada {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  display: block;
}

.custom-icon-btn {
  border: 1px solid #ced4da; 
  border-radius: 0.375rem;  
  color: black;
  background-color: white;
  width: 40px;
  height: 40px;
}

.custom-icon-btn:hover {
  background-color: #f8f9fa;
  border-color: #adb5bd;
}

.custom-icon-btn i {
  color: black;
}

.ml-neg-1 {
  margin-left: -0.8rem; 
  margin-top: -0.5rem;
}

@media (max-width: 992px) {
  .responsive-buttons .btn {
    padding: 0.375rem 0.75rem; 
    font-size: 0.875rem;      
  }

  .navbar-brand {
    font-size: 1rem;
  }

  .responsive-buttons {
    flex-wrap: wrap;
  }

  .navbar-brand {
    margin-bottom: 0.5rem;
  }
}


/*CSS DEL INDEX 2 */

.sin-borde {  
  box-shadow: none;
  width: 30rem;
}

.posicion-contador {
  position: absolute;
  top: 5px;
  right: 10px;
  margin: 0;
  font-size: 0.9rem;
  color: gray;
}

.encabezado,
.likes {
  font-weight: bold;
}

.likes {
  margin-top: 0.1rem; 
  margin-bottom: 0.1rem;
}

.mensaje {
  margin-top: 0;
}

.card-img-top {
  border-radius: 0;
  width: 100%;
}